[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tcpp"]
	path = external/tcpp
	url = https://github.com/bnoazx005/tcpp.git
[submodule "external/obj-loader"]
	path = external/obj-loader
	url = https://github.com/Bly7/OBJ-Loader.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
	branch = assimp_5.0_release
